*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
ul, ol, li{
    list-style: none;
}
.Home img{
    object-fit: cover;
    width: 100%;
    height: 60vh;
}
.frase-motivacional{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 120px;
    background-image: url("/assets/635703-1.jpg");
    
}
.frase{
    padding-bottom: 10px;
    padding-top: 30px;
}
.img{
    width:100%;
    height:50px;
    display: flex;
     justify-content: center;

}
.img img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}
.empresa{
    display: flex;
    padding-top: 120px;
    background-color: lightgray;
}
.grupo{
    width: 50px;
    height: 50px;
}
.Movimento{
    text-align: left;
    padding: 40px;
    
}
h2{
    font-size: 48px;
}
p{
  font-size: 15px;  
}
.button {
    background-color: #3E194D;
    border: none;
    color: #A7FBD3;
    padding:15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.grupo img {
    width: 400px;
    margin: 50px;


